//
// Copyright (c) 2013 and onwards Instart Inc. All rights reserved.
//
// Primary Owner: faskiri
// Secondary Owner:
//

#include <iostream>
#include "/home/faskiri/work/debug.h"

using namespace std;

int main(int argc, char **argv)
{
    return 0;
}
